.place__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media (max-width: 1024px) {
    .place__title {
        font-size: 7.03125vw;
    }
}

@media (max-width: 768px) {
    .place__title {
        font-size: 5.46875vw;
        line-height: 1.095;
    }
}

@media (max-width: 320px) {
    .place__title {
        width: 90%;
        font-size: 10vw;
        line-height: 35px;
        margin:0 auto 0;
    }
}