.photo-grid{
    margin: 92px auto 0;
    max-width: 92.5%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1024px){
        /*1024-100%, значит, по пропорции, 928px-90,6%*/
        .photo-grid{
            max-width: 90.625%;
            grid-template-columns: repeat(3, 1fr);
            gap: 14px;
        }
    }
    @media (max-width: 768px){
        .photo-grid{
            /*768-100%, значит, по пропорции, 720px-93,75%*/
            max-width: 93.75%;
            margin-top: 88px;
            grid-template-columns: repeat(2, 1fr);
            gap:16px
        }
    }
    @media screen and (max-width: 320px){
        .photo-grid{
            /*320-100%, значит, по пропорции, 288px-90%*/
            max-width: 90%;
            gap: 12px;
            grid-template-columns: 1fr;
            margin-top: 64px;
        }
    }
    