.lead {
    padding: 0;
    margin: 56px auto 0;
    width: 984px;
}
@media (max-width: 1024px) {
    .lead {
        width: 90.625%;
        margin-top: 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        width: 100%;
    }
}