.cover__subtitle{
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 100;
    margin: 32px 0 0 0;
}
@media (max-width: 768px) {
    .cover__subtitle {
        width: 46.875%;
        line-height: 1.222;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 90%;
        font-size: 4.375vw;
        line-height: 1.143;
    }
}