.header {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0;
}

@media (max-width: 1024px) {
    .header {
        width: 90.625%;
        margin: 28px auto 0;
    }
}

@media (max-width: 768px) {
    .header {
        width: 93.75%;
    }
}

@media (max-width: 320px) {
    .header {
        width: 90%;
        margin-top: 16px;
    }
}

