.place__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.611;
    /*width: 484px;*/
    margin: 0 0 26px 0;
    grid-column: 2;
    grid-row: 2;
    }
    
    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
    
    @media (max-width: 1024px) {
        .place__paragraph {
            /*width: 44.53%;*/
        }
    }
    
    @media (max-width: 768px) {
        .place__paragraph {
            font-size: 2.0833vw;
            margin-bottom: 25px;
            line-height: 1.625;
        }
    }

    @media (max-width: 320px) {
        .place__paragraph {
            font-size: 5vw;
        }
    }