.footer__copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    color: #fff;
    opacity: 1;
    text-decoration: none;
    margin: 0;
    text-align: right;
}

@media (max-width: 768px) {
    .footer__copyright {
        font-size: 1.8339vw;
    }
}

@media (max-width: 320px) {
    .footer__copyright {
        line-height: 1.0;
        margin-top: 48px;
        font-size: 14px;
        text-align: left;
    }
}
