.intro__text{
    width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
    padding-top: 40px;
}
@media (max-width: 768px) {
    .intro__text {
        width: 93.75%;
    }
}
@media (max-width: 320px) {
    .intro__text {
        width: 90%;
    }
}