.intro__text{
    width: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    margin: 0;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .intro__text {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .intro__text {
    }
}