.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 100;
    margin: 0;
}


@media (max-width: 1024px) {
    .cover__title {
        width: 560px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        width: 77.778%;
        font-size: 9.375vw;
        line-height: 1.056;
    }
}

@media (max-width: 320px) {
    .cover__title {
        width: 90%;
        font-size: 10vw;
        line-height: 1.09375;
    }
}