.cover__title{
    max-width: 946px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    z-index: 100;
}


@media (max-width: 1024px) {
    .cover__title {
        width: 560px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        width: 72.91%;
        font-size: 32px;
        line-height: 1.09;
    }
}

@media (max-width: 320px) {
    .cover__title {
        width: 90%;
    }
}