.footer{
    width: 92.5%;
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .footer {
        width: 90.625%;
    }
    }
@media (max-width: 768px) {
    .footer {
        width: 93.75%;
        /* flex-direction: column;*/
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .footer {
        width: 90%;
        flex-direction: column;
        margin-top: 64px;
    }
}
