.footer{
    max-width: 1184px;
    padding: 92px 0 24px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1280px) {
    .footer {
        max-width: 90.625%;
        padding-top: 88px;
    }
    }
@media (max-width: 768px) {
    .footer {
        width: 93.75%;
        flex-direction: column;
        padding-top: 64px;
    }
}
