.intro__title{
    width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.074;  
    margin: 0;
}
@media (max-width: 768px) {
    .intro__title {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}