.intro__title{
    width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;  
    font-family: 'Inter';
    margin: 0;
}
@media (max-width: 768px) {
    .intro__title {
        width: 93.75%;
    }
}

@media (max-width: 320px) {
    .intro__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
    }
}